body {
    /* 無駄な余白を消す */
    margin: 0; 
}

/* ヘッダーの全体 */
header {
    position: relative;
    /* 横幅全体に広げる */
    width: 100%;
    height: 60vh;
    overflow: hidden;
}


/* ヘッダー画像 */
#headerPhoto {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
    object-fit: cover;
    object-position: center;
}

/* ヘッダーのタイトル部分 */
#headerNote {
    position: fixed;
    top: 30px;
    left: 40px;
    margin: 0;
    font-weight: bold;
    color: aliceblue;
    font-size: 30px;
}

/* メニュー全体の設定 */
#menu {
    position: fixed;
    top: 40px;
    right: 40px;
    display: flex;
    gap: 24px;
    
}
/* メニューアイテムひとつひとつの設定 */
.menuItem {
    margin: 0;
    color: black;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
}

/* メニューにホバー機能をつける */
#menu a:hover {
    border-bottom: 1px solid #F8F3E8;
}

/* ヘッダーの文言 */
#headerText {
    position: absolute;
    left: 40px;
    top: 150px;
}

/* ヘッダーのキャッチコピーの部分 */
#headerCatchCopy {
    color: #F8F3E8;
    font-size: 40px;
    margin-bottom: 10px;
}

/* キャッチコピー下の文言 */
#smallHeadText {
    color: #F8F3E8;
    font-size: 15px;
}